{
  "plugins": [
    "react-hot-loader/babel"
  ],
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
