aside()
  margin-right: 5px
  position: absolute
  right: 100%

prompt()
  aside()
  opacity: 0.6
  top: 1rem

cell(bgColor)
  position: relative

  .prompt
    prompt()

  pre
    background: bgColor
    padding: 1rem

.hack main
  em
    font-style: italic

    &::before, &::after
      content: ''

  header
    height = 3rem
    spacing = 2rem

    align-items: center
    background: #f6f6f6
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    line-height: height
    padding: 0 spacing
    text-transform: lowercase

    nav
      align-items: center
      display: flex
      flex-flow: row nowrap

      h1
        line-height: inherit
        margin-right: spacing
        padding: 0

        &::after
          content: none

        a
          color: inherit
          border: 0

          &:hover
            background: inherit

      ul
        display: flex
        flex-flow: row nowrap
        margin: 0

        li
          display: inline-block
          margin-right: 10px

    aside
      a
        border: none
        opacity: 0.2

        &:hover
          background: none
          opacity: 1

        img
          height: 1.5rem

  article
    margin-top: 2rem

    .cell
      h1, h2, h3, h4, h5, h6
        .anchor-link
          opacity: 0
          transition: .5

        &:hover .anchor-link
          opacity: 1

        &::before
          aside()

      p img
        display: block
        margin: auto

      &.code_cell
        .input
          cell(#fbfbfb)

        .output
          cell(#ffffff)

        .input + .output_wrapper pre
            border-top: 0
            margin-top: -21px

@media (max-width: 840px)
  .hack main
    article .cell
      h2, h3, h4, h5, h6
        &::before
          margin: 0
          position: static

      img
        max-width: 100%

@media (max-width: 500px)
  .hack main
    header nav
      ul
        flex-flow: column
        line-height: 1.5rem
        margin: 1rem 0
