aside()
  margin-right: 5px
  position: absolute
  right: 100%

prompt()
  aside()
  opacity: 0.6
  top: 1rem

cell(bgColor)
  position: relative

  .prompt
    prompt()

  pre
    background: bgColor
    padding: 1rem

.hack main
  header
    align-items: center
    background: #f6f6f6
    display: flex
    flex-flow: row nowrap
    height: 3em
    justify-content: flex-start
    padding: 0
    text-transform: lowercase

    h1
      margin: 0 2em
      padding: 0

      &::after
        content: none

    nav
      align-items: center
      display: flex
      flex-flow: row nowrap
      flex-grow: 1
      justify-content: space-between

      ul
        margin: 0

        li
          display: inline-block
          margin-right: 10px

      aside
        margin-right: 1rem

        a
          border: none
          opacity: 0.2

          &:hover
            background: none
            opacity: 1

          img
            height: 1.5rem

  article
    margin-top: 2em

    .cell
      h1, h2, h3, h4, h5, h6
        .anchor-link
          opacity: 0
          transition: .5

        &:hover .anchor-link
          opacity: 1

        &::before
          aside()

      p img
        display: block
        margin: auto

      &.code_cell
        .input
          cell(#fbfbfb)

        .output
          cell(#ffffff)

        .input + .output_wrapper pre
            border-top: 0
            margin-top: -21px
